.foodButton {
    background-color: rgb(5, 9, 10);
    color: white;
    height: 30px;
    padding: 17px;
    padding-bottom: 32px;
    margin-right: 3px;
    margin-bottom: 3px;

}

#addFood {
    background-color: rgb(5, 9, 10);
    color: white;
    height: 30px;
}

#foodForm {
    float: right;
    position: static;
    margin-right: 120px;
    border: 7px;
    padding: 19px;
    border-color: black;
    border-style: solid;
}